---
import Section from "./Section.astro";
---

<Section title="Experience Tesla" subtitle="Schedule a Demo Drive Today" color="white">
  <div slot="footer">
    <a href="#" class="text-white border-white bg-white/5 backdrop-blur-sm border-[3px] rounded font-medium px-24 py-2 text-sm hover:bg-white hover:text-black transition-colors">
      Demo Drive
    </a>
  </div>
  <video slot="background" class="object-center object-cover h-full w-full" autoplay muted loop src="/video.mp4"></video>
</Section>