<section class="landing-section bg-black h-screen w-screen text-center relative overflow-hidden"
  data-header-color="black">

  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-40 text-[40px] font-medium">Model S</h2>
      <p class="text-black text-base underline">View Inventory</p>
    </header>

    <footer class="flex flex-col flex-grow flex-nowrap justify-end pb-20">
      <div class="flex gap-x-4 mx-auto">
        <a href="#" class="bg-gray-600 border-[3px] border-gray-600 text-white rounded font-medium px-24 py-2 text-sm hover:bg-white hover:text-black hover:border-white transition-colors">
          Order Now
        </a>
        <a href="#" class="bg-white border-[3px] border-white rounded font-medium px-24 py-2 text-sm hover:bg-black hover:text-white inline-flex hover:border-black transition-colors justify-center items-center text-black">
          Demo Drive
        </a>
      </div>
    </footer>
  </div>

  <div class="absolute top-0 bottom-0 z-10 h-full w-full">
    <img src="/model-s.avif" alt="Model S" class="h-full w-full object-cover object-center ">
  </div>
</section>