---
import Section from "./Section.astro";
---

<Section title="Model X" subtitle="View Inventory" color="black">
  <div slot="footer" class="flex gap-x-4 mx-auto">
    <a href="#" class="bg-gray-600 border-[3px] border-gray-600 text-white rounded font-medium px-24 py-2 text-sm hover:bg-white hover:text-black hover:border-white transition-colors">
      Order Now
    </a>
    <a href="#" class="bg-white border-[3px] border-white rounded font-medium px-24 py-2 text-sm hover:bg-black hover:text-white inline-flex hover:border-black transition-colors justify-center items-center text-black">
      Demo Drive
    </a>
  </div>
  <div slot="background" class="absolute top-0 bottom-0 z-10 h-full w-full">
    <img src="/model-x.avif" alt="Model S" class="h-full w-full object-cover object-center ">
  </div>
</Section>