---
import Section from "./Section.astro";
---

<Section title="Solar Panels" subtitle="Schedule a Virtual Consultation" color="black">
  <div slot="footer" class="flex gap-x-4 mx-auto">
    <a href="#" class="bg-white/60 rounded font-medium px-24 py-3 text-sm hover:bg-black hover:text-white inline-flex hover:border-black transition-colors justify-center items-center text-black">
      Order Now
    </a>
    <a href="#" class="bg-zinc-900/60 text-white rounded font-medium px-24 py-3 text-sm hover:bg-white hover:text-black hover:border-white transition-colors">
      Learn More
    </a>
  </div>
  <div slot="background" class="absolute top-0 bottom-0 z-10 h-full w-full">
    <img src="/solar-panels.avif" alt="Model S" class="h-full w-full object-cover object-center ">
  </div>
</Section>